In [1]:
#1
name = "Anshu Kumar"
print(name)

Anshu Kumar

In [2]:
#2
text = "Hello World"
print(len(text))

11

In [3]:
#3
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
#4
text = "hello"
print(text.upper())

HELLO

In [5]:
#5
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [6]:
#6
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#8
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#9
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
#10
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
#11
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [12]:
#12
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#13
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
#14
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#15
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
#16
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'b', 'a'}

In [17]:
#17
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [18]:
#18
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [19]:
#19
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
#20
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
#21
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
#22
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [24]:
#24
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [26]:
#26
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [27]:
#27
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[24, 28, 51, 58, 90]

In [28]:
#28
words = ["apple", "banana", "cherry", "mango"]
print(words[3])

mango

In [29]:
#29
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

result = {**dict1, **dict2}
print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#30
words = ["apple", "banana", "apple", "mango"]
unique_words = set(words)
print(unique_words)

{'apple', 'mango', 'banana'}